*.log
*.tsbuildinfo
.eslintcache
.codegraph
.idea/
.DS_Store
.webpack/
.webpack-moments/
ci/apt/packages
dist/
node_modules/
temp/

# Superpowers planning documents
/docs/superpowers/

# for jest --coverage
coverage/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
.pnp.*

# Extensions
*.foxe
*.coe
