* text=auto eol=lf
*.afdesign -text -filter -merge -diff
*.bag -text -filter -merge -diff
*.bin -text -filter -merge -diff
*.gif -text -filter -merge -diff
*.glb -text -filter -merge -diff
*.gz -text -filter -merge -diff
*.icns -text -filter -merge -diff
*.ico -text -filter -merge -diff
*.jpeg -text -filter -merge -diff
*.jpg -text -filter -merge -diff
*.map -text -filter -merge -diff
*.png -text -filter -merge -diff
*.tar -text -filter -merge -diff
*.wasm -text -filter -merge -diff
*.woff2 -text -filter -merge -diff
*.zip -text -filter -merge -diff
.yarn/**/*.cjs -text -filter -merge -diff
