.yarn/**/*.cjs filter=lfs diff=lfs merge=lfs -text
* text=auto eol=lf
*.afdesign filter=lfs diff=lfs merge=lfs -text
*.bag filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.afdesign !text !filter !merge !diff
*.bag !text !filter !merge !diff
*.bin !text !filter !merge !diff
*.gif !text !filter !merge !diff
*.glb !text !filter !merge !diff
*.gz !text !filter !merge !diff
*.icns !text !filter !merge !diff
*.ico !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.map !text !filter !merge !diff
*.png !text !filter !merge !diff
*.tar !text !filter !merge !diff
*.wasm !text !filter !merge !diff
*.woff2 !text !filter !merge !diff
*.zip !text !filter !merge !diff
.yarn/**/*.cjs !text !filter !merge !diff
